/* Globals */
* {
	margin: 0;
	padding: 0;
}

.cyan{
	background-color: #17a2b8;
}

.black{
	color:black;
}

.transition-15s-easeio {
	transition: color .15s ease-in-out,
		background-color .15s ease-in-out,
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;

	-webkit-transition: color .15s ease-in-out,
		background-color .15s ease-in-out,
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
}

/* Links */
a,
a:focus,
a:hover {
	color: #fff;
}

a.link,
a.link:focus,
a.link:hover {
	color: #007bff;
	text-decoration: underline;
}

/* span */

span.obbligatorio {
	color: red;
}

/* Custom default button */

.mybtn-secondary{
	background-color:#ffffff;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;

	cursor:pointer;
	color:#595359;
	font-size:15px;
	font-weight:bold;
	padding:9px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.mybtn-secondary:hover,
.mybtn-secondary:focus {
	color: #ffff;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: 	#138496;

	text-decoration: none;
}

.btn-info{
	background-color: #343a40;
	border-color: #343a40;
	color: #fff;
}

/*
 * Base structure
 */

html {
	width: 100%;
	height: 100%;
}

body {
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%; /* this helps with the sticky footer */

	color: #000;

	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */


	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	background-attachment: fixed;

}


.cover-container {
	max-width: 100%;

	flex-grow: 1;
	flex-shrink: 0;

	min-height:100%;
}

main {
	padding: 0 1.5rem;
}

/*
 * Custom translucent site header
 */

.site-header {
	background-color: rgba(0, 0, 0, .85);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
	color: #999;
	transition: ease-in-out color .15s;
}
.site-header a:hover {
	color: #fff;
	text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
	position: absolute;
	right: 10%;
	bottom: -30%;
	width: 300px;
	height: 540px;
	background-color: #333;
	border-radius: 21px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
}

.product-device::before {
	position: absolute;
	top: 10%;
	right: 10px;
	bottom: 10%;
	left: 10px;
	content: "";
	background-color: rgba(255, 255, 255, .1);
	border-radius: 5px;
}

.product-device-2 {
	top: -25%;
	right: auto;
	bottom: 0;
	left: 5%;
	background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal > * {
	-ms-flex: 1;
	-webkit-box-flex: 1;
	flex: 1;
}

@media (min-width: 768px) {
	.flex-md-equal > * {
		-ms-flex: 1;
		-webkit-box-flex: 1;
		flex: 1;
	}
}

.overflow-hidden {
	overflow: hidden;
}
